* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/images/avengers_infinity_war_superheros-wallpaper-2048x1152.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  max-width: 100%;
}

h1 {
  text-align: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  text-transform: uppercase;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 3rem auto;
  font-size: 2.5rem;
  overflow: hidden;
}
h1::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateX(-101%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  transition: all 0.8s ease-in-out;
}
h1:hover::before {
  transform: translateX(0%);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.card__Add {
  width: 15rem;
  height: 20rem;
  background-color: #3f3f3f;
  border-radius: 0.5rem;
  margin: 1rem 2rem;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.card__Add--logo {
  width: 100%;
  height: 100%;
  font-size: 4rem;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.card__Add:hover {
  background-color: #161616;
}

.card__Heros {
  position: relative;
  width: 15rem;
  height: 20rem;
  background-color: #3f3f3f;
  border-radius: 0.5rem;
  margin: 1rem 2rem;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card__Heros h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 4px;
  color: white;
  top: 3.8rem;
  text-shadow: 0px 0px 12px black;
}
.card__Heros p {
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 0 1rem;
  position: relative;
  bottom: 4rem;
}
.card__Heros:hover .box__Img--Heros img {
  transform: scale(1.1) rotate(-2deg);
}

.boxH2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxBtnDelete {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
}

.info {
  position: relative;
  z-index: 5;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border-radius: 100%;
  color: white;
  transition: all 0.2s ease-in-out;
}
.info:hover {
  background-color: #01519c;
}

.delete {
  position: relative;
  z-index: 5;
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: #df4444;
  cursor: pointer;
  outline: none;
  border-radius: 100%;
  color: white;
  transition: all 0.2s ease-in-out;
}
.delete:hover {
  background-color: #9c0101;
}

.box__Img--Heros {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(5deg);
  width: 110%;
  height: 9rem;
  position: relative;
  z-index: 0;
  top: -1rem;
  left: -1rem;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}
.box__Img--Heros img {
  width: 100%;
  transition: all 0.3s;
}
.box__Img--Heros2 {
  transform: rotate(5deg);
  width: 110%;
  height: 11rem;
  background-size: cover;
  position: relative;
  z-index: 0;
  top: -2rem;
  left: -1rem;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
}

.edit {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.747);
  color: white;
  font-size: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0%;
  transition: all 0.3s ease-in-out;
}
.edit:hover {
  opacity: 100%;
}